<!DOCTYPE html>
<html lang="en">

    @await Html.PartialAsync("~/Views/Partials/_Header.cshtml")

<body>

    @await Html.PartialAsync("~/Views/Partials/_Menu.cshtml")

    <div class="container">
        <main role="main" class="pb-3">
            <section class="bg-soft d-flex align-items-center">
                <div class="container">

                    <p class="text-center">
                        <a href="/">
                            <i class="feather-16" data-feather="arrow-left"></i>
                            Back to homepage
                        </a>
                    </p>
                    <!-- Content -->
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="bg-white shadow border-0 rounded border-light p-4 w-100 fmxw-500">
                                <!-- Header -->
                                <div class="text-center mb-4">
                                    <h3>@ViewData["Title"]</h3>
                                </div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    @await Html.PartialAsync("~/Views/Partials/_Footer.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>