<div class="d-flex flex-column align-items-center mt-4">
    <h4>Sorry, what you were looking for cannot be found</h4>

</div>
<div class="d-flex flex-column align-items-center mt-4">
    <p>The link you tried accessing may be broken or have been removed.</p>

</div>