<a asp-action="Edit" class="mx-2" asp-route-id="@Model.Id"><i data-feather="edit" class="text-warning feather-16" data-bs-toggle="tooltip" data-bs-placement="top" title="Rediger"></i></a>
<a asp-action="Delete" class="mx-2" asp-route-id="@Model.Id"><i data-feather="trash-2" class="text-danger feather-16" data-bs-toggle="tooltip" data-bs-placement="top" title="Slet"></i></a>

