@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IAuthorizationService AuthorizationService
@inject SignInManager<AppUser> SignInManager
<div class="row mb-4">
    <div class="col-12">
        <div class="form-group">
            <form method="get">
                <div class="input-group">
                    <span class="input-group-text"><i class="feather-16" data-feather="search"></i></span>
                    <input type="text" class="form-control" name="search" id="search" placeholder="Søg" value="@Model.Search" aria-label="Søg" />
                    <input type="submit" value="Søg" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-sm-8">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Status
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index">Alle</a>
                <a class="dropdown-item" asp-action="Index" asp-route-filter="deleted">Slettede</a>
                <a class="dropdown-item" asp-action="Index" asp-route-filter="nonDeleted">Ikke slettede</a>
            </div>
        </div>
        @if (Model.Categories != null)
        {
            <div class="btn-group me-2">
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Kategori</span>
                </button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="Index">Alle</a>
                    @foreach (var item in Model.Categories)
                    {
                        <a class="dropdown-item" asp-action="Index" asp-route-search="@item.Name">@item.Name</a>
                    }
                </div>

            </div>
        }
    </div>
    @if ((await AuthorizationService.AuthorizeAsync(User, "FoodAdmin")).Succeeded)
    {
        <div class="col-sm-4 d-flex flex-row-reverse">
            <a asp-action="Create" class="btn btn-primary">Opret ny</a>
        </div>
    }

</div>